html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #EDEDED;
    font-family: "Source Sans 3", sans-serif;
    line-height: 0.2;
}

.bold-text {
    font-weight: 700;
}

.like-count {
    margin-bottom: 8px;
}

/* a container for the entire app */
.whole-app { 
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

/* the container for logo, user avatar */
.app-header-container {
    border-bottom: 2px solid #C6C6C6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    position: fixed;
    height: 67px;
    width: 100%;
    max-width: 375px;
    z-index: 1;
}

.logo-image {
    height: 90%;
    margin-left: 15px;
}

.user-avatar {
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin-right: 15px;
}

/* the container for an entire post instance */
.post {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    border: none;
}

/* the header of a post including poster avatar, name, location */
.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

/*container for poster name & location */
.user-info-container {
    padding-left: -5px;
}

/* the footer of a post */
.post-footer {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    height: 23px;
    width: 82px;
    margin-bottom: 3px;
}

.icon {
    height: 100%;
    fill: pink;
}

/* .icon:hover {
    filter: drop-shadow(0px 0px 2px);
} */

.post-text {
    line-height: 1.1;
    margin-top: 3px;
}

.reply-preview {
    color: #555555;
    line-height: 1.1;
    margin-top: -9px;
    margin-bottom: -15px;
}

.floating-header-footer-spacing {
    margin-top: 67px;
    padding: 0;
}

.app-footer-container {
    border-bottom: 2px solid #C6C6C6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    margin: 0px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    min-height: 67x;
    width: 100%;
    max-width: 375px;
    z-index: 1;
}

.input-btn {
    opacity: 0%;
}

.liked{
    filter: invert(10%) sepia(98%) saturate(7004%) hue-rotate(1deg) brightness(97%) contrast(108%);
    color: red;
}

.comments-modal{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    bottom: 0px;
    z-index: 900;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px none #67595e;
    border-radius: 20px 20px 0px 0px;
    width: 375px;
    height: 490px;
    background-color: #FFFFFF;
}

.comments-modal-close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
}

#comments-modal-inner {
    width: 375px;
    height: 80%;
    padding: 0 20px;
    
}

.reply-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 800;
  }

